<ion-card>
  <ion-card-header>
    <ion-segment [(ngModel)]="application.type" style="width: 50%">

      <ion-segment-button value="travel" >
        <ion-icon name="plane"></ion-icon>
        <span>Travel Insurance</span>
      </ion-segment-button>
      <ion-segment-button value="student">
        <ion-icon name="school"></ion-icon>
        <span>International Student Insurance</span>
      </ion-segment-button>

    </ion-segment>
  </ion-card-header>
  <ion-card-content [ngSwitch]="application.type">

    <ion-grid *ngSwitchCase="'travel'">

      <ion-row style="margin-top: 10px" nowrap>
        <!--<ion-item col-6>-->
          <iins-search search_id="customers"></iins-search>
        <!--</ion-item>-->

        <ion-item col-3>
          <ion-label>Name :{{application.customer.firstName}} {{application.customer.lastName}}</ion-label>
        </ion-item>
        <ion-item col-3>
          <ion-label>Birthday:{{application.customer.dateOfBirth}}</ion-label>
        </ion-item>

      </ion-row>

      <ion-row nowrap *ngFor="let insured of application.insured;let indexRow=index">
          <ion-item col-3>
            <ion-label fixed>First Name:</ion-label>
            <ion-input type="text" [(ngModel)]="insured.firstName"></ion-input>
          </ion-item>
          <ion-item col-3>
            <ion-label fixed>Last Name:</ion-label>
            <ion-input type="text" [(ngModel)]="insured.lastName"></ion-input>
          </ion-item>
          <ion-item col-3>
              <ion-label > Date of Birth:</ion-label>
              <!--<ion-input type="text" [value]="application.dateOfBirth"></ion-input>-->
            <!--<button ion-button (click)="showCalendar()">Show Calendar</button>-->

              <ion-datetime displayFormat="MMM DD,YYYY" pickerFormat="MMM DD,YYYY" [(ngModel)]="insured.dateOfBirth"></ion-datetime>
          </ion-item>
          <ion-item col-2>
              <ion-label >Gender:</ion-label>
              <ion-select [(ngModel)]="insured.gender" interface="popover">
                  <ion-option value="M">Male</ion-option>
                  <ion-option value="F">Female</ion-option>
                  <ion-option value="U">Unknow</ion-option>
              </ion-select>
          </ion-item>
<ion-item >
  <button ion-button clear  icon-only (click)="removeInsured(indexRow)" *ngIf="indexRow+1 <= application.insured.length && indexRow>0">
    <ion-icon name="remove"></ion-icon>
  </button>

  <button ion-button clear  icon-only (click)="addInsured()" *ngIf="indexRow+1 == application.insured.length">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-item>



      </ion-row>
      <ion-item-divider></ion-item-divider>
        <ion-row  nowrap>
            <ion-item>
                <ion-label>Country of Origin:</ion-label>
                <ion-input type="text" [(ngModel)]="application.customer.countryOfOrigin"></ion-input>
            </ion-item>

            <ion-item >
                <ion-label>Address in Canada:</ion-label>
                <ion-input type="text" [(ngModel)]="application.customer.address"></ion-input>
            </ion-item>
            <ion-item></ion-item>
        </ion-row>

        <ion-row  nowrap>

            <ion-item>
                <ion-label fixed>City:</ion-label>
                <ion-input type="text" [(ngModel)]="application.customer.city"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label fixed>Province:</ion-label>
                <!--<ion-input type="text" [(ngModel)]="application.province"></ion-input>-->
              <ion-select [(ngModel)]="application.customer.province" interface="popover">
                <ion-option [value]="province.Abbr" *ngFor="let province of provincesList">{{province.Name}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
                <ion-label fixed>Postcode:</ion-label>
                <ion-input type="text" [(ngModel)]="application.customer.postcode"></ion-input>
            </ion-item>
        </ion-row>
        <ion-row nowrap>

            <ion-item>
                <ion-label>Contact Number:</ion-label>
                <ion-input type="text" [(ngModel)]="application.customer.phoneNumber"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label fixed>Email:</ion-label>
                <ion-input type="text" [(ngModel)]="application.customer.email"></ion-input>
            </ion-item>
            <ion-item></ion-item>
        </ion-row>
        <ion-item-divider></ion-item-divider>
        <ion-row nowrap>
            <ion-item>
                <ion-label fixed>Beneficiary:</ion-label>
                <ion-input type="text" [(ngModel)]="application.policy.beneficiary"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label fixed>Relationship:</ion-label>
                <ion-input type="text" [(ngModel)]="application.policy.relationship"></ion-input>
            </ion-item>
            <ion-item>
                <!--<ion-label fixed>Relationship:</ion-label>-->
                <!--<ion-input type="text" [value]="application.relationship"></ion-input>-->
            </ion-item>
        </ion-row>

        <ion-row nowrap>
            <ion-item>
                <ion-label fixed>Arrival Date:</ion-label>
                <!--<ion-input type="text" [(ngModel)]="application.policy.arrivalDate"></ion-input>-->
              <ion-datetime displayFormat="MMM DD,YYYY" pickerFormat="MMM DD,YYYY" [(ngModel)]="application.policy.arrivalDate"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Effective Date:</ion-label>
                <!--<ion-input type="text" [(ngModel)]="application.policy.effectiveDate"></ion-input>-->
              <ion-datetime displayFormat="MMM DD,YYYY" pickerFormat="MMM DD,YYYY" [(ngModel)]="application.policy.effectiveDate" [max]="maxYear"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Expiry Date:</ion-label>
                <!--<ion-input type="text" [(ngModel)]="application.policy.expiryDate"></ion-input>-->
              <ion-datetime displayFormat="MMM DD,YYYY" pickerFormat="MMM DD,YYYY" [(ngModel)]="application.policy.expiryDate" [max]="maxYear"></ion-datetime>
            </ion-item>
        </ion-row>
        <ion-row nowrap>
            <ion-item>
                <ion-label fixed>Coverage:</ion-label>
                <ion-input type="text" [(ngModel)]="application.policy.coverage"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Total Amount:</ion-label>
                <ion-input type="text" [(ngModel)]="application.policy.totalAmount"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Insurance Company:</ion-label>
                <ion-input type="text" [(ngModel)]="application.policy.insurer"></ion-input>
            </ion-item>
        </ion-row>
        <ion-item-divider></ion-item-divider>
        <ion-row nowrap>
            <ion-item>
                <ion-label >Payment Method:</ion-label>
                <ion-input type="text" [(ngModel)]="application.payment.paymentMethod"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label >Card Number:</ion-label>
                <ion-input type="text" [(ngModel)]="application.payment.cardNumber"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label >Name on Card:</ion-label>
                <ion-input type="text" [(ngModel)]="application.payment.nameOnCard"></ion-input>
            </ion-item>
        </ion-row>

        <ion-row nowrap>
            <ion-item>
                <ion-label fixed>Expiry Date:</ion-label>
                <!--<ion-input type="text" [(ngModel)]="application.payment.expiryDate"></ion-input>-->
              <ion-datetime displayFormat="MM/YY" pickerFormat="MM,YY" [(ngModel)]="application.payment.expiryDate" max="2030"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label >CV Code:</ion-label>
                <ion-input type="text" [(ngModel)]="application.payment.cvCode"></ion-input>
            </ion-item>
<ion-item></ion-item>
        </ion-row>

    </ion-grid>
    <ion-grid *ngSwitchCase="'student'">

      <ion-row style="margin-top: 10px">
        <ion-col >
          <!--<ion-list >-->

          <ion-item>
            <ion-label fixed>Policy Holder:</ion-label>
            <ion-input type="text" [(ngModel)]="application.policyHolder"></ion-input>
          </ion-item>


          <ion-item>
            <ion-label fixed>Date of Birth:</ion-label>
            <ion-input type="text" [(ngModel)]="application.dateOfBirth"></ion-input>
          </ion-item>

          <!--<ion-item>-->
          <!--<ion-label fixed>Address:</ion-label>-->
          <!--<ion-input type="text" [value]="policyInfo.policy.address"></ion-input>-->
          <!--</ion-item>-->
          <!--<ion-item>-->
          <!--<ion-label fixed>Postcode:</ion-label>-->
          <!--<ion-input type="text" [value]="policyInfo.policy.postcode"></ion-input>-->
          <!--</ion-item>-->

          <!--<ion-item>-->
          <!--<ion-label >Phone Number:</ion-label>-->
          <!--<ion-input type="text" [value]="policyInfo.policy.phoneNumber"></ion-input>-->
          <!--</ion-item>-->
          <!--<ion-item>-->
          <!--<ion-label fixed>Email:</ion-label>-->
          <!--<ion-input type="text" [value]="policyInfo.policy.email"></ion-input>-->
          <!--</ion-item>-->

          <!--<ion-item>-->
          <!--<ion-label >Policy Number:</ion-label>-->
          <!--<ion-input type="text" [value]="policyInfo.policy.policyNumber"></ion-input>-->
          <!--</ion-item>-->
          <!--<ion-item>-->
          <!--<ion-label >Application Date:</ion-label>-->
          <!--<ion-input type="text" [value]="policyInfo.policy.applicationDate"></ion-input>-->
          <!--</ion-item>-->

          <!--<ion-item>-->
          <!--<ion-label fixed>Effective Date:</ion-label>-->
          <!--<ion-input type="text" [value]="policyInfo.policy.effectiveDate"></ion-input>-->
          <!--</ion-item>-->


          <!--<ion-item>-->
          <!--<ion-label >Expiry Date:</ion-label>-->
          <!--<ion-input type="text" [value]="policyInfo.policy.expiryDate"></ion-input>-->
          <!--</ion-item>-->

          <!--<ion-item>-->
          <!--<ion-label >Number of Days:</ion-label>-->
          <!--<ion-input type="text" [value]="policyInfo.policy.numberOfDays"></ion-input>-->
          <!--</ion-item>-->



          <!--</ion-list>-->
        </ion-col>

        <ion-col >
          <!--<ion-list >-->

          <!--<ion-item>-->
          <!--<ion-label >Insurance Type:</ion-label>-->
          <!--<ion-input type="text" [value]="policyInfo.coverage.planType"></ion-input>-->
          <!--</ion-item>-->
          <!--<ion-item-divider></ion-item-divider>-->
          <!--<ion-row *ngFor="let pb of policyInfo.coverage.planAndBenefits">-->
          <!--<ion-item>-->
          <!--<ion-label >Insurance Plan:</ion-label>-->
          <!--<ion-input type="text" [value]="pb.insurancePlan"></ion-input>-->
          <!--</ion-item>-->

          <!--<ion-item>-->
          <!--<ion-label fixed>Sum Insured:</ion-label>-->
          <!--<ion-input type="text" [value]="pb.sumInsured"></ion-input>-->
          <!--</ion-item>-->
          <!--<ion-item>-->
          <!--<ion-label fixed>Premium:</ion-label>-->
          <!--<ion-input type="text" [value]="pb.premium"></ion-input>-->
          <!--</ion-item>-->
          <!--<ion-item>-->
          <!--<ion-label fixed>Deductible:</ion-label>-->
          <!--<ion-input type="text" [value]="pb.deductible"></ion-input>-->
          <!--</ion-item>-->
          <!--<ion-item-divider></ion-item-divider>-->
          <!--</ion-row>-->

          <!--<ion-item>-->
          <!--<ion-label >Total Premium:</ion-label>-->
          <!--<ion-input type="text" [value]="policyInfo.coverage.totalPremium"></ion-input>-->
          <!--</ion-item>-->

          <!--<ion-item>-->
          <!--<ion-label fixed>Beneficiary:</ion-label>-->
          <!--<ion-input type="text" [value]="policyInfo.coverage.beneficiary"></ion-input>-->
          <!--</ion-item>-->
          <!--<ion-item>-->
          <!--<ion-label fixed>Relationship:</ion-label>-->
          <!--<ion-input type="text" [value]="policyInfo.coverage.relationship"></ion-input>-->
          <!--</ion-item>-->

          <!--</ion-list>-->
        </ion-col>


      </ion-row>
      <ion-row style="margin-top: 10px">
        <ion-col >
          <!--<ion-list >-->

          <!--<ion-item>-->
          <!--<ion-label fixed>Policy Holder:</ion-label>-->
          <!--<ion-input type="text" [value]="policyInfo.policy.policyHolder"></ion-input>-->
          <!--</ion-item>-->


          <!--<ion-item>-->
          <!--<ion-label fixed>Date of Birth:</ion-label>-->
          <!--<ion-input type="text" [value]="policyInfo.policy.dateOfBirth"></ion-input>-->
          <!--</ion-item>-->

          <!--<ion-item>-->
          <!--<ion-label fixed>Address:</ion-label>-->
          <!--<ion-input type="text" [value]="policyInfo.policy.address"></ion-input>-->
          <!--</ion-item>-->
          <!--<ion-item>-->
          <!--<ion-label fixed>Postcode:</ion-label>-->
          <!--<ion-input type="text" [value]="policyInfo.policy.postcode"></ion-input>-->
          <!--</ion-item>-->

          <!--<ion-item>-->
          <!--<ion-label >Phone Number:</ion-label>-->
          <!--<ion-input type="text" [value]="policyInfo.policy.phoneNumber"></ion-input>-->
          <!--</ion-item>-->
          <!--<ion-item>-->
          <!--<ion-label fixed>Email:</ion-label>-->
          <!--<ion-input type="text" [value]="policyInfo.policy.email"></ion-input>-->
          <!--</ion-item>-->

          <!--<ion-item>-->
          <!--<ion-label >Policy Number:</ion-label>-->
          <!--<ion-input type="text" [value]="policyInfo.policy.policyNumber"></ion-input>-->
          <!--</ion-item>-->
          <!--<ion-item>-->
          <!--<ion-label >Application Date:</ion-label>-->
          <!--<ion-input type="text" [value]="policyInfo.policy.applicationDate"></ion-input>-->
          <!--</ion-item>-->

          <!--<ion-item>-->
          <!--<ion-label fixed>Effective Date:</ion-label>-->
          <!--<ion-input type="text" [value]="policyInfo.policy.effectiveDate"></ion-input>-->
          <!--</ion-item>-->


          <!--<ion-item>-->
          <!--<ion-label >Expiry Date:</ion-label>-->
          <!--<ion-input type="text" [value]="policyInfo.policy.expiryDate"></ion-input>-->
          <!--</ion-item>-->

          <!--<ion-item>-->
          <!--<ion-label >Number of Days:</ion-label>-->
          <!--<ion-input type="text" [value]="policyInfo.policy.numberOfDays"></ion-input>-->
          <!--</ion-item>-->



          <!--</ion-list>-->
        </ion-col>




      </ion-row>

    </ion-grid>
  </ion-card-content>
    <ion-buttons end id="bottom-buttons">
        <button ion-button color="primary" (click)="saveData()" fixed>Save</button>
        <button ion-button color="primary" (click)="submitData()" fixed>Submit</button>
    </ion-buttons>

</ion-card>







