
iins-fileupload {
  height: 100%;

  ion-card {
    height: 100%;
    ion-card-content {

      ion-row {
        align-items: baseline;
      }
    }

  }

  button {
    width: 100%;
  }
  #file-input {
    opacity: 0;
    //position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
  }

}

