<ion-card>
    <ion-card-header>
        Policy File Upload
    </ion-card-header>
    <ion-card-content>
        <ion-grid>
            <ion-row id="button-row">
                <ion-buttons col-10>
                    <button ion-button outline icon-right>
                        <label style="position: absolute"> {{ switches.file_upload_lable }}</label>
                        <input type="file" ng2FileSelect [uploader]="uploader" id="file-input"/>
                    </button>
                </ion-buttons>

                <ion-buttons>
                    <button ion-button outline icon-left (click)="uploader.uploadAll()">
                        <ion-icon name="ios-stats"></ion-icon>
                        Upload
                    </button>
                </ion-buttons>
            </ion-row>
            <ion-row>
                <ion-col col-6>
                    <iins-policy></iins-policy>
                </ion-col>
                <canvas id='file-canvas'></canvas>
            </ion-row>

        </ion-grid>


    </ion-card-content>
</ion-card>







