
iins-fileupload {
  height:100%;
  ion-card {
    height: 97%;
    ion-card-content {
      height: 100%;

    }

  }

  #button-row {
    align-items: baseline;
  }
  button {
    width: 100%;
  }
  #file-input {
    opacity: 0;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
  }

}

