<ion-header >
    <iins-header></iins-header>
</ion-header>

<ion-menu [content]="mainMenu">
    <iins-menu menu_id="application"></iins-menu>
    <iins-todo menu_id="application"></iins-todo>
</ion-menu>

<ion-content #mainMenu>
    <!--<ion-grid style="background-color: #0dff0d">-->
        <!--<ion-row style="background-color: #1625ff">-->
            <!--<ion-col >-->
                <iins-table *ngIf="acitveView=='default'" form_id="policyList"></iins-table>
                <iins-application *ngIf = "acitveView=='application'"></iins-application>
                <iins-fileupload *ngIf="acitveView=='uploadpolicy'" components_id="uploadpolicy"></iins-fileupload>
            <!--</ion-col>-->
            <!--<ion-col col-3>-->
                <!--<iins-to do menu_id="application"></iins-to do>-->
            <!--</ion-col>-->
        <!--</ion-row>-->

    <!--</ion-grid>-->

</ion-content>
