<ion-header >
    <iins-header></iins-header>
</ion-header>

<ion-menu [content]="mainMenu">
    <iins-menu menu_id="application"></iins-menu>
</ion-menu>

<ion-content #mainMenu style="background-color: #F8F8F8">
    <ion-grid >
        <ion-row>
            <ion-col col-3>
                <iins-todo menu_id="application"></iins-todo>
            </ion-col>
            <ion-col >
                <iins-table></iins-table>
            </ion-col>
        </ion-row>

    </ion-grid>

</ion-content>
