<ion-header >
    <iins-header></iins-header>
</ion-header>

<ion-menu [content]="mainMenu">
    <iins-menu menu_id="application"></iins-menu>
</ion-menu>

<ion-content #mainMenu >
    <ion-grid >
        <ion-row>
            <ion-col >
                <iins-table *ngIf="acitveView=='default'"></iins-table>
                <iins-fileupload *ngIf="acitveView=='uploadpolicy'" components_id="uploadpolicy"></iins-fileupload>
            </ion-col>
            <ion-col col-3>
                <iins-todo menu_id="application"></iins-todo>
            </ion-col>
        </ion-row>

    </ion-grid>

</ion-content>
