

<ion-navbar color="primary">
<ion-row>

  <ion-title>
    <!--<img *ngIf="logo" [src]=logo width="169px" style="display:inline-block" height="40px"/>-->
    <span  style="margin-left:20px">Intelligent Insurance </span>
  </ion-title>
  <ion-buttons >
    <button ion-button icon-only  (click)="toggleMenu('insurance')" >
      <ion-icon name="ios-globe-outline"></ion-icon>
    </button>
  </ion-buttons>

  <ion-buttons >
    <button ion-button icon-only  (click)="toggleMenu('customer')">
      <ion-icon name="ios-contacts"></ion-icon>
    </button>
  </ion-buttons>

  <ion-buttons  >
    <button ion-button icon-only  (click)="toggleMenu('application')">
      <ion-icon name="pricetags"></ion-icon>
    </button>
  </ion-buttons>

  <ion-buttons  margin-right="40px">
    <button ion-button icon-only (click)="toggleMenu('settings')">
      <ion-icon name="settings"></ion-icon>
    </button>
  </ion-buttons>

</ion-row>
</ion-navbar>

