

iins-search{
  width: 60%;
   ion-list {
    position: absolute;
     padding-left: 10px;
    z-index: 1000;
    width: 45%;
    height: auto;
     .list_item{
       background-color: #1E90FF;
       border-bottom: inset 1px;

     }
  }

}
