



  <!--<ion-menu [content]="navTabs">-->
    <!--<ion-header>-->
      <!--<ion-toolbar color ='secondary'>-->
        <!--<ion-title >Menu</ion-title>-->
      <!--</ion-toolbar>-->
    <!--</ion-header>-->
    <!--<ion-content>-->
      <!--<ion-list>-->
        <!--<button ion-item (click)="doSomething()">-->
          <!--Home-->
        <!--</button>-->
        <!--<button ion-item (click)="openPage(friendsPage)">-->
          <!--Friends-->
        <!--</button>-->
        <!--<button ion-item (click)="openPage(eventsPage)">-->
          <!--Events-->
        <!--</button>-->
        <!--<button ion-item (click)="closeMenu()">-->
          <!--Close Menu-->
        <!--</button>-->
      <!--</ion-list>-->
    <!--</ion-content>-->
  <!--</ion-menu>-->
  <ion-grid >
    <button menuToggle>menu</button>
    welcome


  </ion-grid>




